<mat-toolbar [color]="color" class="d-flex flex-row align-items-center justify-content-between py-5">
  <div class="d-flex flex-row">
    <button *ngIf="!!displaySideMenuButton" mat-icon-button [attr.aria-label]="ariaLabelSideMenu">
      <mat-icon>{{ sidemenuIcon }}</mat-icon>
    </button>
    <section *ngIf="displayApplicationName && !!applicationName">
      <p class="mat-headline-3 m-0" [attr.aria-label]="ariaLabelApplicationName">{{ applicationName }}</p>
    </section>
  </div>
  <div *ngIf="!!userPreferencesParameters">
    <edv-user-preferences [userPreferencesParameters]="userPreferencesParameters"></edv-user-preferences>
  </div>
</mat-toolbar>
